In [1]:
import numpy as np  #does mathematical operation
import matplotlib.pyplot as plt #For plotting the graphs
import pandas as pd #making the data frames and import the csv files
import math
from sklearn import metrics

#from google.colab import drive #to import the google drive data

#drive.mount('/content/drive')   # to mount the drive data into the colab cloud and enter the activation code

In [2]:
#cd /content/drive/"My Drive/Colab Notebooks/Linear_Regression"

In [3]:
#Taking the Dataset from URL and read it as CSV File
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
Colnames = ['sepal_length','sepal_width','petal_length','petal_width','Class']
dataset = pd.read_csv(url,names=Colnames)
dataset.head()      #to Read top 5 Values

   sepal_length  sepal_width  petal_length  petal_width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
dataset.tail()      #TO read last 5 Values

     sepal_length  sepal_width  petal_length  petal_width           Class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
dataset.shape

(150, 5)

In [6]:
training_dataset = dataset.values[:,0:4]

In [7]:
training_dataset
training_dataset.shape

(150, 4)

In [8]:
training_class_dataset = dataset.values[:,-1]

In [9]:
training_class_dataset
training_class_dataset.shape

(150,)

In [10]:
#To find the euclidiean distance between the points
def euclidiean_distance(row1,row2):     #Taking 2 observations as the parameters to find the distance between them
    distance = 0.0  
    for i in range(len(row1)):
        distance+=(row1[i]-row2[i])**2
    
    return math.sqrt(distance)

In [11]:
#To find the unique classes from the dataser
unique_list = []
for x in training_class_dataset:
    if x not in unique_list:
        unique_list.append(x)
print(unique_list)

#to replcae the class with  numerical value
for i in range(len(training_class_dataset)):
    for k in range(len(unique_list)):
        if(training_class_dataset[i]==unique_list[k]):
            training_class_dataset[i]=k
            break
print(training_class_dataset)

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [12]:
distance = []
for i in range(len(training_dataset)):
    distance.append([euclidiean_distance(training_dataset[i],training_dataset[52]),training_class_dataset[i]])
print(distance)
print(len(distance))

[[4.164132562731403, 0], [4.236744032862973, 0], [4.415880433163924, 0], [4.305810028322198, 0], [4.219004621945798, 0], [3.786819245752298, 0], [4.366921112179611, 0], [4.117037770047781, 0], [4.497777228809804, 0], [4.1856899072912706, 0], [3.9824615503479754, 0], [4.132795663954366, 0], [4.316248370981448, 0], [4.813522618623497, 0], [4.171330722922843, 0], [3.9874804074753776, 0], [4.130375285612677, 0], [4.134005321718878, 0], [3.6891733491393435, 0], [4.090232267243512, 0], [3.7775653535048206, 0], [4.045985664828782, 0], [4.737087712930806, 0], [3.8105117766515306, 0], [3.897435053981016, 0], [4.024922359499622, 0], [3.9749213828703587, 0], [4.037325847637271, 0], [4.113392760240627, 0], [4.174925149029621, 0], [4.12189276910499, 0], [3.8871583451153624, 0], [4.172529209005013, 0], [4.136423575989288, 0], [4.1856899072912706, 0], [4.358898943540674, 0], [4.095119045888655, 0], [4.1856899072912706, 0], [4.572745346069471, 0], [4.0718546143004675, 0], [4.262628297189424, 0], [4.560701700396553, 0], [4.572745346069471, 0], [3.9331920878594278, 0], [3.7336309405188945, 0], [4.2555845661906435, 0], [4.038564101261735, 0], [4.386342439892263, 0], [4.021193852576621, 0], [4.194043395102154, 0], [0.26457513110645914, 1], [0.6480740698407862, 1], [0.0, 1], [1.8574175621006714, 1], [0.5830951894845308, 1], [1.315294643796591, 1], [0.6708203932499374, 1], [2.7018512172212596, 1], [0.5099019513592794, 1], [2.014944167960989, 1], [2.651414716712571, 1], [1.2247448713915892, 1], [1.6370705543744903, 1], [0.8544003745317538, 1], [1.860107523773828, 1], [0.5477225575051662, 1], [1.3638181696985865, 1], [1.5033296378372916, 1], [1.2083045973594573, 1], [1.7916472867168924, 1], [1.0535653752852738, 1], [1.2569805089976542, 1], [0.8485281374238575, 1], [0.9273618495495711, 1], [0.830662386291808, 1], [0.6000000000000003, 1], [0.346410161513776, 1], [0.31622776601683794, 1], [1.0049875621120894, 1], [1.9748417658131503, 1], [1.954482028569207, 1], [2.034698994937581, 1], [1.5684387141358127, 1], [1.0099504938362078, 1], [1.5556349186104046, 1], [1.0344080432788605, 1], [0.2828427124746193, 1], [1.1357816691600553, 1], [1.5427248620541523, 1], [1.7804493814764861, 1], [1.5968719422671314, 1], [0.8660254037844396, 1], [1.5362291495737221, 1], [2.6570660511172854, 1], [1.5427248620541518, 1], [1.4247806848775009, 1], [1.4177446878757827, 1], [0.964365076099296, 1], [2.7147743920996463, 1], [1.486606874731851, 1], [1.6155494421403511, 2], [1.2529964086141672, 2], [1.1874342087037917, 2], [0.9899494936611664, 2], [1.212435565298214, 2], [1.9364916731037076, 2], [2.1354156504062622, 2], [1.4999999999999993, 2], [1.1401754250991376, 2], [1.6673332000533063, 2], [0.6782329983125268, 2], [0.8544003745317528, 2], [0.8602325267042625, 2], [1.4352700094407325, 2], [1.4662878298615183, 2], [1.0295630140986995, 2], [0.787400787401181, 2], [2.20454076850486, 2], [2.351595203260969, 2], [1.2767145334803707, 2], [1.1357816691600544, 2], [1.4247806848775015, 2], [2.0542638584174133, 2], [0.7810249675906658, 2], [1.0392304845413263, 2], [1.183215956619923, 2], [0.8246211251235325, 2], [0.8602325267042633, 2], [1.090871211463571, 2], [0.9591663046625434, 2], [1.3928388277184114, 2], [1.9974984355438177, 2], [1.1489125293076055, 2], [0.7000000000000004, 2], [1.1789826122551597, 2], [1.6522711641858299, 2], [1.3228756555322951, 2], [0.8366600265340753, 2], [0.9591663046625444, 2], [0.7810249675906655, 2], [1.1575836902790222, 2], [0.8246211251235317, 2], [1.2529964086141672, 2], [1.2884098726725124, 2], [1.3114877048604001, 2], [0.8831760866327845, 2], [0.9433981132056607, 2], [0.7141428428542852, 2], [1.212435565298214, 2], [1.0677078252031311, 2]]
150

In [ ]:
distance.sort()
distance

In [14]:
nearest_neighbour_k = 7

In [15]:
identify = [0 for i in range(len(unique_list))]
for i in range(nearest_neighbour_k):
    identify[distance[i][1]]+=1
print(identify)

[0, 7, 0]

In [16]:
unique_list

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [17]:
print("Predicted Class is : ",unique_list[identify.index(max(identify))])

Predicted Class is :  Iris-versicolor

In [18]:
#To find the confusion matrix
#Step1 : Randomize the data (jumbled)
#take 125  vlaues in training and 25 as testing
#you make the confusion matrix (between predicted and original classes)
#find parameters of that confusion matrix

In [56]:
#To randomize the data 
random_dataset = dataset.sample(frac=1)

In [57]:
#Seperating the Training and the testing Data For the Featues
train_set = random_dataset.sample(frac=0.833, random_state=0)
test_set = random_dataset.drop(train_set.index)

train_data_features = train_set.values[:,0:4]
test_data_features = test_set.values[:,0:4]
'''
print(train_data_features)
print("\n\n\n")
print(test_data_features)
'''

'\nprint(train_data_features)\nprint("\n\n\n")\nprint(test_data_features)\n'

In [58]:
train_data_output = train_set.values[:,-1]
test_data_output = test_set.values[:,-1]
'''
print(train_data_output)
print("\n\n\n")
print(test_data_output)
'''

'\nprint(train_data_output)\nprint("\n\n\n")\nprint(test_data_output)\n'

In [59]:

#To find the unique classes from the dataser For the Training Data
unique_list_training = []
for x in train_data_output:
    if x not in unique_list_training:
        unique_list_training.append(x)
print(unique_list_training)

#to replcae the class with  numerical value
for i in range(len(train_data_output)):
    for k in range(len(unique_list_training)):
        if(train_data_output[i]==unique_list_training[k]):
            train_data_output[i]=k
            break
print(train_data_output)

['Iris-virginica', 'Iris-setosa', 'Iris-versicolor']
[0 0 1 1 0 0 2 0 1 2 2 1 1 2 1 0 0 1 1 2 0 1 2 2 0 0 2 0 2 1 0 0 1 1 2 1 2
 0 1 0 2 0 1 1 2 2 1 0 2 1 2 2 2 2 0 1 2 1 1 0 1 2 0 1 1 1 2 0 0 0 2 1 2 1
 1 0 1 0 2 2 2 0 2 2 1 1 1 1 1 1 2 2 2 0 1 1 1 2 2 2 0 0 2 2 2 0 0 0 2 1 0
 2 0 1 2 2 1 2 2 2 2 1 1 0 0]

In [60]:
#To find the unique classes from the dataser For the Testing Data

#to replcae the class with  numerical value
for i in range(len(test_data_output)):
    for k in range(len(unique_list_testing)):
        if(test_data_output[i]==unique_list_testing[k]):
            test_data_output[i]=k
            break
print(test_data_output)

[0 0 0 2 1 1 2 0 0 1 0 0 0 0 0 1 0 2 1 0 1 2 0 1 0]

In [62]:
# Predict the target 
def predict_target(features,target,test,nearest_neighbour,unique_list):
    identify=[0 for i in range(len(unique_list_training))]
    distance =[]
    for i in range(len(features)):
        distance.append([euclidiean_distance(features[i],test),target[i]])
    distance.sort()
    
    for i in range(nearest_neighbour):
        identify[distance[i][1]]=identify[distance[i][1]]+ 1
    return identify.index(max(identify))

In [63]:
#testing time!
nearest_neighbour=11
confusion_matrix=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(test_data_features)):
    for k in range(len(unique_list)):
        if test_data_output[i]==k:
            predicted = predict_target(train_data_features,train_data_output,test_data_features[i],nearest_neighbour,unique_list)
            actual = test_data_output[i]
            confusion_matrix[predicted][k]+=1

In [64]:
#Confusion Matrix
for i in range(3):
    for j in range(3):
        print(confusion_matrix[i][j],end=' ')
    print()

13 0 0
0 7 0
1 0 4