In [55]:
import numpy as np  #does mathematical operation
import matplotlib.pyplot as plt #For plotting the graphs
import pandas as pd #making the data frames and import the csv files
import math
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import export_graphviz
import pydot

from google.colab import drive #to import the google drive data
drive.mount('/content/drive')   # to mount the drive data into the colab cloud and enter the activation code

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
#@title
cd /content/drive/"My Drive/Colab Notebooks/DecisionTreeAndRandomForest"

/content/drive/My Drive/Colab Notebooks/DecisionTreeAndRandomForest

In [ ]:
features = pd.read_csv("temps.csv")
features.head(10)

In [11]:
features.shape

(348, 12)

In [ ]:
features.describe()

In [17]:
#One hotEccoding to change categoriacal to numerical
features = pd.get_dummies(features)     #automatically takes the categorical feateres and convert to numerical with coloumns

In [18]:
features

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0    2016      1    1      45  ...         0           0          0         0
1    2016      1    2      44  ...         0           0          0         0
2    2016      1    3      45  ...         1           0          0         0
3    2016      1    4      44  ...         0           0          0         0
4    2016      1    5      41  ...         0           0          1         0
..    ...    ...  ...     ...  ...       ...         ...        ...       ...
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[348 rows x 18 columns]

In [19]:
features.shape

(348, 18)

In [20]:
labels = np.array(features['actual'])

In [ ]:
labels

In [24]:
features = features.drop('actual',axis=1)

In [25]:
features

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0    2016      1    1      45  ...         0           0          0         0
1    2016      1    2      44  ...         0           0          0         0
2    2016      1    3      45  ...         1           0          0         0
3    2016      1    4      44  ...         0           0          0         0
4    2016      1    5      41  ...         0           0          1         0
..    ...    ...  ...     ...  ...       ...         ...        ...       ...
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[348 rows x 17 columns]

In [26]:
features.shape

(348, 17)

In [29]:
feature_list = list(features.columns)
features = np.array(features)

In [ ]:
features

In [ ]:
feature_list

In [33]:
train_features,test_features,train_labels,test_labels=train_test_split(features,labels,test_size=0.25,random_state=42)  #First train and test data for featureand then for labels

In [38]:
train_features.shape
test_features.shape
train_labels.shape
test_labels.shape

(87,)

In [40]:
random_forest_regressor_model = RandomForestRegressor(n_estimators=1000,random_state=42)

In [41]:
random_forest_regressor_model.fit(train_features,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [42]:
predictions = random_forest_regressor_model.predict(test_features)

In [ ]:
predictions

In [45]:
errors = abs(predictions-test_labels)

In [49]:
#Mean absolute percentage Error
mape = 100*(errors/len(test_labels))
mean_error = np.mean(mape)

In [51]:
mape
mean_error

4.451948738274541

In [52]:
accuracy = 100-mean_error

In [53]:
accuracy

95.54805126172546

In [61]:
tree = random_forest_regressor_model.estimators_[5]     #two output 1. Tree 2. dot File (whihc has property to be written in document for that tree)
export_graphviz(tree,out_file='tree.dot',feature_names=feature_list,rounded=True,precision=1)

In [62]:
(graph,)=pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png');